h1 {
    
    font-size: 50px;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: left;
    background-color: blue;
    padding: 20px;
}
h2{
    text-align: center;
}
h1,h2{
    color:rebeccapurple;
}
.ben{
    color: red;
    text-decoration: underline;
    font-size: 40px;
    text-align: center;
/*  background-color:royalblue;*/
    text-shadow: salmon;
    text-transform: capitalize;  
padding: 20px;     /* it will channge 20px from top right left bottom*/
}
.new{
    /*boxmodel*/
    font-size: 40px;
    padding: 50px 100px 30px 100px;
    border:2px solid red;
   /* margin: 60px 100px 40px 30px;*/
margin-top: 40px;
margin-left: 40px;
margin-bottom: 40px;
margin-right: 40px;

}
.box1{
    border:solid red;
    margin:10px;
    width: 100px;
    height: 100px;
}

.box2{
    border:solid seagreen;
    margin: 20px;
    width:50px;
    height: 50px;
}
.new:hover{
    color: rebeccapurple;
}
.box3{
    border: 2px solid red;
    margin: 10px;
    width:50px;
    height: 50px;
    background-color: greenyellow;
}
.box3:hover{
    background-color: salmon;
}



/* how to find relative path*/
/* search font and text attributes
differnce between font and text
css selector;
element type selector
assignment: selectors, grouping selectors,element type selector, class selector,inline selector,id selctor,pseudo selector
background image
hover-mouse over
box image
box outside image

*/

/*body{
    
    background-image: url("D:\_20191104_085230.jpg");
}*/
